.cart {
	display: grid;
	grid-auto-rows: 1fr;
	gap: 20px;
}

.carritoCard {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr 30px;
	grid-auto-rows: 1fr;
	gap: 20px;
	grid-row-gap: 20px;
	align-items: center;
}

.carritoCard img {
	width: 100%;
}

.cantidad {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.eliminar {
	cursor: pointer;
}