.shopping-cart {
	width: 750px;
	height: 423px;
	margin: 80px auto;
	background: #FFFFFF;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
	border-radius: 6px;

	display: flex;
	flex-direction: column;
}
.carritoCard{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr;
	align-items: center;
}

.carritoCard img{
	width: 100%;
}

.cantidad{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}